<p id="notice"><%= notice %></p>

<h2>
  <%= @list.name %> <span style="font-size:10px"><%= link_to 'Edit', edit_list_path(@list) %></span>
</h2>

<p>
  <%= @list.description %>
</p>

<ul>
  <% @items.each do |i| %>
    <li>
      <%= i.name %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
