<!-- Modal -->
<div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Item</h4>
      </div>
      <div class="modal-body">
        <%= form_with model: @item do |form| %>
          <% if @item.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

              <ul>
              <% @item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.label :name %>
            <%= form.text_field :name, id: :item_name %>
          </div>

          <div class="field">
            <%= form.label :description %>
            <%= form.text_area :description, id: :item_description %>
          </div>

          <div class="field">
            <%= form.label :quantity %>
            <%= form.number_field :quantity, id: :item_quantity %>
          </div>

          <div class="field" style="display:none;">
            <%= form.text_field :list_id, :value => @list.id %>
          </div>

          <div class="actions">
            <%= form.submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>

<h2>
  <%= @list.name %> <span style="font-size:20px"><%= link_to 'Edit', edit_list_path(@list) %></span>
</h2>

<p>
  <%= @list.description %>
</p>

<ul class="items-ul">
  <% @items.each do |i| %>
    <li class="items-li">
      <span id="item_<%= i.id %>"><%= i.name %></span>
      <span class="quantity-span">x<%= i.quantity %></span>
      <i class="fa fa-chevron-circle-down dropdown" aria-hidden="true" id="item-dropdown-<%= i.id %>"></i>
      <div id="item-actions_<%= i.id %>" style="display:none;">
        <a href="#" data-toggle="tooltip" data-placement="bottom" title="<%= i.description %>">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </a>
        <%= link_to edit_item_path(i) do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
        <%= link_to i, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addItem">
  Add another item
</button>
</br>
</br>

<script>
  jQuery("span[id^='item_']").click(function() {
    jQuery(this).toggleClass("strike-through");
  });

  jQuery("i[id^='item-dropdown']").click(function() {
    jQuery("#item-actions_" + jQuery(this).attr("id").substr(14)).toggle();
  });
</script>
